$white: #ffffff;
$black: #232323;
$textgrey: #96959A;
$red: #FF4646;
$orange: #E99D80;
$lightorange: #FEF2D5;
$blue: #0D7FF7;
$lightblue: #72B7FF;
$deepblue: #E4EFF9;
$green: #29D14E;
$inputgrey: #F0F0F0;
$linegrey: #BDBDBD;